/*LayOut*/
@font-face {
    font-family: 'Nueva fuente personalizada';
    src: url(Klamp105Mono-Light.woff) format('woff');
    font-weight: 300;  
    font-style: normal;
}
@font-face {
    font-family: 'Nueva fuente personalizada';
    src: url(klamp-105-mono-book-oblique.otf) format('opentype');
    font-weight: 400;
    font-style: oblique;
}
@font-face {
    font-family: 'Nueva fuente personalizada';
    src: url(klamp-105-mono-bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nueva fuente personalizada';
    src: url(klamp-105-mono-bold-oblique.otf) format('opentype');
    font-weight: 700;
    font-style: oblique;
}

.tooltip.fade {
  transition: opacity 0.2s ease-in-out; /* ajustá la duración a tu gusto */
}

#up.hidden {
    display: none;
}

#up{
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 550;
    background-color: transparent;
    border-color: transparent;
    right: 10px;
    top: 10px;
}

#up img{
    width: 100%;
    height: 100%;
    transition: transform 0.25s;
}

#up img:hover{
    transform: scale(1.2);
}

body{
    background: rgba(17, 17, 17, 0.91) !important;
    background-attachment: fixed;
    background-size: cover;
    color: white !important;
    padding: 2px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0%;
}

.header img{
    width: 25%;
    margin-bottom: 4%;
    border-radius: 5%;
}

/*ACORDEONES*/
.accordion .accordion-button {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
    background: rgba(42, 42, 42, 0.91) !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
    transition: all 0.3s ease-in-out;
}
.accordion .accordion-button:hover {
    background: rgba(42, 42, 42, 0.94) !important;
    color: #fff68f !important;
}
.accordion .accordion-button::after {
    filter: invert(1) brightness(1.2);
}
.accordion .accordion-button.collapsed:hover {
    background: rgba(42, 42, 42, 0.96) !important;
    color: #fff68f !important;
}
.accordion .accordion-collapse .accordion-body {
    background: rgba(24, 24, 24, 0.91) !important;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-family: "Nueva fuente personalizada";
    font-style: normal;
    font-size: 17px;
}
.accordion .accordion-collapse .accordion-body:hover {
    background: rgba(42, 42, 42, 0.96) !important;
    color: #fff68f !important;
}
/*ACORDEONES*/

/*PROYECTOS IT, SKILLS, CONTACTO*/
#collapse3 .accordion-body, #tecnologias, #frameworks, #collapse9 .accordion-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#collapse6 .accordion-body{
    flex-direction: column;
}

#collapse3 .accordion-body a,.skills{
    width: 100px !important;
    height: fit-content;
    margin: 15px 15px;
    border-color: transparent;
    text-align: center;
}

#collapse9 .accordion-body a{
    width: 50px;
    height: fit-content;
    margin: 15px 15px;
    border-color: transparent;
}

#collapse3 .accordion-body a img, #collapse9 .accordion-body a img{
    width: 100%;
}

.skills img{
    width: 100%!important;
    height: 80%!important;
}
/*PROYECTOS IT, SKILLS, CONTACTO*/

#footer{
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.foot:hover {
    background: rgba(42, 42, 42, 0.96) !important;
    color: rgb(239, 255, 159);
    transition-delay: 0.1s;

}

.iconos img:hover{animation: Escalar 1.5s infinite;}

.modal{
    background-color: rgba(0, 0, 0, 0.288);
}

.modal-body,.modal-header,.modal-footer{
    background-color: rgba(69, 69, 69, 0.892)!important;
}


@keyframes Escalar {
    0%{
        transform: rotate(5deg) scale(1);
    }
    50%
    {
        transform: rotate(-5deg) scale(1.1);
    }
    100%
    {
        transform: rotate(5deg) scale(1);
    }
}

.titulo{
    text-align: center;
    height: 100%;
    font-size: 23px!important;
    margin: 0;
    color: white;
    font-family: "Nueva fuente personalizada";
    font-style: normal;
}
.Subtitulo{
    text-align: center;
    height: fit-content;
    font-size: 19px!important;
    color: white;
    margin: 0;
    font-family: "Nueva fuente personalizada";
    font-style: normal;
}

.titulo:hover, .Subtitulo:hover{
    color: #fff68f !important;
}